* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e6e6e6;
}
html {
  scroll-behavior: smooth;
}
main {
  margin-top: 100px;
}

/*Nav Var*/
.nav-bar {
  font-size: 20px;
  font-family: "Fredoka", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b2161;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-bar li {
  list-style: none;
  display: inline;
  float: left;
}
.nav-bar a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 15px;
}
.nav-bar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: #0b3861;
}

.home {
  background-color: #0080ff;
}

/*Contenido*/

.container {
  background-color: #f2f2f2;
  height: 50%;
  margin: 12.5% 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  scroll-margin-top: 35ex;
}
.container h1 {
  margin-top: 20px;
  font-size: 40px;
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.container h2 {
  font-size: 30px;
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.container p {
  font-size: 20px;
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.container img {
  margin-bottom: 50px;
  border-radius: 8px;
}
.container a {
  color: #000;
  display: block;
  padding: 10px 15px;
  font-family: "Fredoka", sans-serif;
  font-size: 15px;
}
