body{
	background-image: url(img/fondo1.jpg);
	background-size: 100%;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
}

.portada {
	text-align:center;
	font-family: 'Hubballi', cursive;
  	position: absolute;
   	left: 50%;
   	top: 40%;
   	transform: translateX(-50%) translateY(-40%);
   	padding: 20px;
	color: #fff;
}

.portada h1{
	font-size: 45px;
	text-transform: uppercase;
}

.portada h2{
	font-size: 30px;
}

.boton {
  	background-color: #fff;
 	border: none;
 	color: #000;
 	padding: 15px 20px;
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
  	display: inline-block;
  	font-size: 15px;
  	margin: 4px 2px;
  	cursor: pointer;
  	font-family: 'Hubballi', cursive;
  	position: absolute;
 	left: 50%;
 	top: 80%;
  	transform: translateX(-50%) translateY(-80%);
	border-radius: 10px;
}

.enlace a{
	text-decoration:none;
	color: #000;
}
